# OI-Tools | Git Ignore
# This source code file is under AGPLv3 License.
# Copyright (c) 2022 hjl2011

# Config Files/Folders
.vscode/

# Temp Files
*.exe

# Local Files/Folders
src/
*.py
generate.cpp